


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  background-color: #050a0f;
}
/* Universal Selector */


/* This is the header section */

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 2%;
}

h1 {
  /* display: flex; */
  font-family: "Sacramento", cursive;
  color: #4380b0;
  font-size: 2.5rem;
}
nav {
 display: flex;
  width: 30%;
}

a {
  text-decoration: none;
  color: white;
}

.buttons {
  display: inline-block;
  width: 40%;
  height: min-content;
  /* padding: 1% 1%; */
  border-radius: 25%;
  border: lightblue dotted 1px;
  background-color: #29455b;
  text-align: center;
}


.headBG {
  background-attachment: fixed;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1525873020571-08690094e301?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  height: 60vh;
  padding-bottom: 8%;

  /* background-image: linear-gradient(111 or 137deg, #020024(stop 0), 090979(stop 35), 00d4ff(stop 100)*/
}

h2 {
color: white;

}
/*  This is the project boxes section */

#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
}

.project-boxes {
  width: 30%;
  margin: 1% 1%;
  padding: 0 2%;
}

img {
  width: 90%;
}


/* This ends the projects section */

/*This is the footer section */

footer {
  background-color: #29455b;
  padding: 2%;
}


/* Below this is the media query code */

/* Below is phone-sized media query */
@media(max-width: 500px) {
  
  header nav {
    width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
  }
}

/* Tablet sized media query */

@media(max-width: 800px) {
  .project-boxes {
    flex: 50%;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
  }
}