/* Above is the reset text, not design text */

* {
  box-sizing: border-box;
  border: 2px solid black;
}

/* Universal Selector */
/* This is the header section */

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.title {
  display: flex;
  align-content: flex-start;
}

.links {
  /* display: flex; */
  align-content: flex-end;
}
a {
  text-decoration: none;
}

.headBG {
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  height: 60vh;
  padding-bottom: 8%;
}

/*  This is the projects section */

#boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}

.project-boxes {
  width: 400px;
  margin:  2% 2%;
  padding: 0 3%;
}

/* .boxOne {
  width: 33%;
  margin-bottom: 2%;
}

.boxTwo {
  width: 33%;
  margin-bottom: 2%;
}

.boxThree {
  width: 33%;
  margin-bottom: 2%;
}

.boxFour {
  width: 33%;
  margin-bottom: 5%;
}

.boxFive {
  width: 33%;
  margin-bottom: 5%;
}

.boxSix {
  width: 33%;
  margin-bottom: 5%;
} */


/* This ends the projects section */

/*This is the footer section */

footer {
  background-color: #253346;
  padding: 3%;
}
